.container{ width: 500px; height: 500px; padding: 24px; border-radius: 8px; display: flex; align-items: center; justify-content: center }

.open {
  display: block;
}

.close {
  display: none;
}

.select-menu {
  width: 282px;
  display: flex;
  justify-content: start;
  padding-left: 10px;
  align-items: center;
  background: #242424;
  height: 34px;
  border-radius: 5px;
  position: relative;
  margin-top: 10px;
}

.menu-list {
  position: absolute;
  top: 40px;
  z-index: 50;
  right: 0px;
  background: #363636;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.select-option__item {
  padding: 5px;
  cursor: pointer;
  &:hover {
    background: #3f3f3f;
    transition-duration: 100ms;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}